# Parsing XML file to get Dewey labels of main domains 
(https://www.theses.fr/schemas/tef/recommandation/oaiSets.xml)

In [2]:
# Importing the required libraries
import os

import pandas as pd
import xml.etree.ElementTree as Xet

In [3]:
# Set paths
path = "."
os.chdir(path)
data_path = path + "/data"
output_path = path + "/outputs"
fig_path = path + "/figures"

In [4]:
# File
filename = 'oaiSets.xml'
out_filename = "dewey_label.csv"

In [5]:
# Define output header  
cols = ["TEF_LABEL", "DDC"]
rows = []
  
# Parsing the XML file
xmlparse = Xet.parse(os.path.join(data_path, filename))
root = xmlparse.getroot()
for i in root:
    code = i.find("setSpec").text.split(":")[1]
    label = i.find("setName").text
  
    rows.append({"TEF_LABEL": label,
                 "DDC": str(code)})
  
df = pd.DataFrame(rows, columns=cols)

# Writing dataframe to csv
df.to_csv(os.path.join(data_path, out_filename))

In [6]:
# Check 
df

                                            TEF_LABEL  DDC
0              Informatique, information, généralités  000
1                                        Informatique  004
2       Bibliothéconomie et sciences de l'information  020
3               Organisations générales et muséologie  060
4          Médias d'information, journalisme, édition  070
..                                                ...  ...
93  Histoire générale de l'Asie, Orient, Extrême-O...  950
94                     Histoire générale de l'Afrique  960
95            Histoire générale de l'Amérique du Nord  970
96             Histoire générale de l'Amérique du Sud  980
97  Histoire générale des autres parties du monde,...  990

[98 rows x 2 columns]